body {
    margin: 0;
    padding: 0;
}
.header {
    background: #ededed;
    padding: 0 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    height: 70px;
}

.mainContent {
    background: #EDEDED;
}

.halfBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.halfLeft, .halfRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.halfRight {
    background: #fff;
}
.halfRight .mainButton {
    margin-bottom: 50px;
    height: 50px;
    width: 260px;
    color: #fff;
    background: #406FE8;
    text-align: center;
    margin-top: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    font-family: Raleway, sans-serif;
}

h1 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    max-width: 353px;
    margin: 140px auto 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 230px;
}
.sendForm input {
    height: 77px;
    border: 0;
    border-bottom: 2px solid #000;
    border-radius: 0;
    background: transparent;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 26px;
    color: #000;
}

.sendForm input:active, .sendForm input:focus {
    outline: none !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

.sendForm input::placeholder {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #000
}

button {
    padding: 16px 35px;
    background: #406fe8;
    margin: 55px auto 0;
    border: none;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.secondBlock {
    padding: 75px 75px 0;
}

.textHeaderWrap {
    text-align: center;
    font-family: Raleway, sans-serif;

}

.textHeader {
    font-size: 70px;
    text-align: left;
    margin: 0;
    font-family: Raleway, sans-serif;
    font-weight: 900;
}
.textHeaderSub {
    font-family: Raleway, sans-serif;
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    padding-top: 90px;
}

.textHeaderDivider {
    height: 10px;
    width: 285px;
    background: #000;
    margin-top: 30px;
}

.svgWrapTop {
    height: 253px;
    display: flex;
    justify-content: space-evenly;
    font-family: Raleway, sans-serif;
}

.svgWrapTopLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svgWrapTopRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svgWrapBot {
    height: 253px;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
}
.svgWrapCenter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.svgText {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 900;
    padding: 0 34px;
    text-align: center;
}

.fullBlockTextHeaderWrap {
    padding: 200px 70px 0;
}
.fullBlockTextHeaderWrap2 {
    padding: 200px 0 0;
}
.fullBlockTextHeaderWrap2 .textHeader {
    padding: 0 70px;
}
.fullBlockTextHeaderWrap2 .textHeaderDivider {
    margin: 0 70px;
}
.fullBlock {
    display: flex;
    flex-direction: column;
}

.bluePart {
    color: #406FE8;
}


.fullBlock .imagesWrap {
    padding: 120px 0;
    display: flex;
    justify-content: space-evenly;
}

.millerWrap {
    padding: 70px;
}
.docksWrap {
    display: flex;
    margin-top: 50px;
}
.docksWrap img {
    width: 25%;
}

.imagesWrap a {
    text-decoration: none;
    position: relative;
}

.imagesWrap a .imgInfoWrap {
    position: absolute;
    top: 0;
    color: #fff;
}

.fullBlockLast .imagesWrap a {
    width: 480px;
}

.imgInfoWrap {
    font-family: Raleway, sans-serif;
    padding: 300px 17px 40px;
    font-weight: 900;
}


.imgInfoHead {
    font-size: 36px;
    margin-bottom: 0;
}


.imgInfoText {
    padding-top: 30px;
    font-size: 24px;
}
.secondRight .dollars {
    height: 781px;
}
.secondRight {
    height: 781px;
}





.formWrap {
    width: 50%;
    height: 600px;
    margin: 278px auto 200px;
    background: #ffffff;
    padding: 48px 68px 41px;
    text-align: center;
    font-family: Raleway, sans-serif;
}
.formHeader {
    font-size: 48px;
    font-family: Raleway, sans-serif;
    font-weight: 900;
}
.formText {
    font-size: 36px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}
.underText {
    font-size: 36px;
    font-weight: 900;
}
#my {
    font-size: 48px;
    font-weight: 900;
}




input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    padding: 0 80px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    border: blue 2px solid;
    margin-top: -4px;
    user-select: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: red;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: red;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
.values{
    width: 100%;
    display: flex;
    margin: 15px auto;
}
.item{
    width: 20%;
    text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1280px){
    form {
        padding: 0 30px;
    }
    .textHeader {
        font-size: 50px;
    }
    .fullBlockTextHeaderWrap2 {
        padding-top: 0;
    }
    .imagesWrap a img {
        width: 33vw;
    }
    .fullBlockLast  .imagesWrap a {
        width: 33vw;
    }
}


@media (max-width: 1000px) {
    .mainContent .halfBlock {
        display: flex;
        flex-direction: column !important;
    }
    .halfLeft, .halfRight {
        width: 100%;
    }
    .millerWrap {
        padding: 0;
    }

    .textHeader {
        padding: 0 70px;
    }
    .textHeaderDivider {
        margin-left: 70px;
    }
    .textHeaderSub {
        padding: 0 70px;
    }

    .fullBlock .imagesWrap {
        display: flex;
        flex-direction: column;
    }
    .imagesWrap a img {
        width: 100vw;
    }
    .imagesWrap a {
        width: 100vw;
    }

    .imgInfoWrap {
        padding: 30px;
    }
    .imgInfoHead {
        font-size: 166px;
    }

    .imgInfoText {
        font-size: 64px;
    }
    .formWrap {
        width: 75%;
    }
    .values {
        font-size: 30px;
    }
}


/*#406FE8*/
